.container {
    height: 35rem;
    width: 20rem;

    overflow-y: auto;

    border-radius: 12px;

    background: var(--cards-container);

    display: grid;
    margin: 2rem auto;
}

@media(min-width: 801px) {
    .container {
        height: 22rem;
        width: 80rem;
    }
}