.overlay {
    background: var(--half-black);

    height: 100%;
    width: 100%;

    position: fixed;
    top:0;
    left:0;

    z-index: 99;

    display: flex;
    align-items: center;
}

.modal {
    position: relative;
    background: var(--cards-container);

    height: 22rem;
    width: 20rem;

    border-radius: 8px;

    margin: auto;
}

.deleteButton {
    position: absolute;
    top: 0;
    right: .75rem;

    font-size: 2rem;
}

.deleteButton:hover {
    color: red;
}

.pokename,
.pokeid,
.type1, .type2 {
    width: fit-content;
    padding: .1rem .5rem;
    margin-top: .5rem;
    margin-left: .5rem;
    background: red;

    color: var(--text);

    border-radius: 10px;
}

.pokepic {
    margin-left: 4.25rem;
    height: 10rem;
    width: 12rem;
    margin-top: -3rem;
}

.poketypes {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pokebio {
    width: 100%;
    padding: .75rem;

    text-align: justify;
}

@media (max-width: 800px) {
    .modal {
        width: 18rem;
        height: 24rem;
    }

    .pokepic {
        margin-left: 2.85rem;
    }
}