.container {
    height: 35rem;
    width: 22rem;

    overflow-y: auto;

    border-radius: 12px;

    background: var(--cards-container);

    display: grid;
    grid-template-areas: "crd1 crd2 crd3";
    gap: .5rem;

    align-items: center;
    justify-content: space-evenly;
    
    margin: 2rem auto;
}

@media(min-width: 801px) {
    .container {
        height: 22rem;
        width: 80rem;
        grid-template-areas: "crd1 crd2 crd3 crd4 crd5 crd6 crd7 crd8 cr9 crd10 crd11";
        gap: .5rem;
    }
}