.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.logo {
    font-family: 'Libre Barcode 39 Text';
    color: var(--text); 
    font-size: 3.25rem;
    text-align: center;

    padding: 2.75rem .6rem;
}

/*
 font-family: 'Libre Barcode 39 Text', 'Red Hat Text'; 
 */