@charset "UTF-8";

.dashboard {
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.75rem;
    padding: 3rem;
}
